<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>547853541083-js25nh0cecjv67hl7l3gng2fifvo92f3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.547853541083-js25nh0cecjv67hl7l3gng2fifvo92f3</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>547853541083-0pps8iphg5r58bcebuvoa6mk122q25h2.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBVBYETVAAZZFjkxuq5-uzm-EusJhvkG_o</string>
	<key>GCM_SENDER_ID</key>
	<string>547853541083</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.TODO</string>
	<key>PROJECT_ID</key>
	<string>tododemo-801c5</string>
	<key>STORAGE_BUCKET</key>
	<string>tododemo-801c5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:547853541083:ios:4f8d17446aa7d28917f6fe</string>
</dict>
</plist>